In [69]:
import pandas as pd
import numpy as np

In [70]:
data = pd.read_csv("../data/flights_dataset_100000.csv")

data

,flight_number,airline,airline_code,airline_country,origin_airport,origin_city,origin_country,dest_airport,dest_city,dest_country,...,duration_hours,stops,cabin_class,fare_type,price_usd,seats_available,aircraft_type,departure_time,flight_category,month
0,YK2808,Cyprus Turkish Airlines,YK,Turkey,OVB,Novosibirsk,Russia,FRU,Bishkek,Kyrgyzstan,...,2.50,0,Economy,Flexible,276.07,53,146,23:15,Moyen-courrier (500-2000 km),5
1,UY6784,Cameroon Airlines,UY,Cameroon,TBS,Tbilisi,Georgia,BGW,Baghdad,Iraq,...,1.98,0,Economy,Non-Refundable,175.19,72,M83,12:15,Moyen-courrier (500-2000 km),7
2,W68534,Wizz Air,W6,Hungary,GLA,Glasgow,United Kingdom,GDN,Gdansk,Poland,...,2.83,0,Business,Full-Fare,1100.18,41,320,07:15,Moyen-courrier (500-2000 km),12
3,LH8106,Lufthansa Cargo,LH,Germany,NUE,Nuernberg,Germany,ZRH,Zurich,Switzerland,...,1.10,0,Economy,Semi-Flexible,94.45,91,AR1 100,20:15,Court-courrier (< 500 km),3
4,TR231,Tiger Airways,TR,Singapore,SIN,Singapore,Singapore,CRK,Angeles City,Philippines,...,3.86,0,Economy,Non-Refundable,190.34,60,320,13:45,Long-courrier (2000-6000 km),10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,AA5194,American Airlines,AA,United States,PHL,Philadelphia,United States,CUN,Cancun,Mexico,...,3.90,0,Economy,Non-Refundable,99.05,19,757 332 321 319,15:30,Long-courrier (2000-6000 km),1
99996,X37597,TUIfly,X3,Germany,RHO,Rhodos,Greece,STR,Stuttgart,Germany,...,3.34,0,Business,Non-Refundable,678.11,18,73H,07:15,Long-courrier (2000-6000 km),12
99997,MH9636,Malaysia Airlines,MH,Malaysia,KUL,Kuala Lumpur,Malaysia,DRW,Darwin,Australia,...,5.00,0,Business,Full-Fare,2422.93,16,738,22:15,Long-courrier (2000-6000 km),12
99998,U27219,United Feeder Service,U2,United States,BUD,Budapest,Hungary,LGW,London,United Kingdom,...,2.78,0,Premium Economy,Non-Refundable,784.57,15,319,07:30,Moyen-courrier (500-2000 km),12
99999,AF7993,Air France,AF,France,OUA,Ouagadougou,Burkina Faso,NIM,Niamey,Niger,...,1.13,0,Economy,Non-Refundable,153.77,80,332,13:45,Court-courrier (< 500 km),6

In [71]:
data.columns

Index(['flight_number', 'airline', 'airline_code', 'airline_country',
       'origin_airport', 'origin_city', 'origin_country', 'dest_airport',
       'dest_city', 'dest_country', 'distance_km', 'flight_date',
       'departure_hour', 'departure_minute', 'duration', 'duration_hours',
       'stops', 'cabin_class', 'fare_type', 'price_usd', 'seats_available',
       'aircraft_type', 'departure_time', 'flight_category', 'month'],
      dtype='str')

In [72]:
data["month"]

0         5
1         7
2        12
3         3
4        10
         ..
99995     1
99996    12
99997    12
99998    12
99999     6
Name: month, Length: 100000, dtype: int64

In [ ]:
#inputs = airline / origin_country/ origin_country / dest_airport / dest_country/ flight_date / departure_time / cabin_class
#output = price_usd / duration
#deleted = flight_nmber / airline_code / airline_country / origin_city / dest_city / distance_km / duration_hours / fare_type / aircraft_type / departure_hour / flight_category / seats_available / origin_airport / stops  / month

In [ ]:
data.drop(["flight_number","airline_code","month","airline_country","stops","origin_airport","origin_city","dest_city","distance_km","duration_hours","fare_type","aircraft_type","departure_hour","flight_category","seats_available"], axis= 1, inplace=True)

In [81]:
data.drop(columns="month", inplace=True)

In [82]:
data

,airline,origin_country,dest_airport,dest_country,flight_date,departure_minute,duration,cabin_class,price_usd,departure_time
0,Cyprus Turkish Airlines,Russia,FRU,Kyrgyzstan,2026-05-08,15,2h 29m,Economy,276.07,23:15
1,Cameroon Airlines,Georgia,BGW,Iraq,2026-07-16,15,1h 59m,Economy,175.19,12:15
2,Wizz Air,United Kingdom,GDN,Poland,2026-12-31,15,2h 49m,Business,1100.18,07:15
3,Lufthansa Cargo,Germany,ZRH,Switzerland,2026-03-01,15,1h 05m,Economy,94.45,20:15
4,Tiger Airways,Singapore,CRK,Philippines,2026-10-21,45,3h 51m,Economy,190.34,13:45
...,...,...,...,...,...,...,...,...,...,...
99995,American Airlines,United States,CUN,Mexico,2027-01-13,30,3h 53m,Economy,99.05,15:30
99996,TUIfly,Greece,STR,Germany,2026-12-31,15,3h 20m,Business,678.11,07:15
99997,Malaysia Airlines,Malaysia,DRW,Australia,2026-12-04,15,4h 59m,Business,2422.93,22:15
99998,United Feeder Service,Hungary,LGW,United Kingdom,2026-12-13,30,2h 46m,Premium Economy,784.57,07:30
99999,Air France,Burkina Faso,NIM,Niger,2026-06-03,45,1h 07m,Economy,153.77,13:45

In [76]:
data["origin_airport"]

0        OVB
1        TBS
2        GLA
3        NUE
4        SIN
        ...
99995    PHL
99996    RHO
99997    KUL
99998    BUD
99999    OUA
Name: origin_airport, Length: 100000, dtype: str