In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("../data/flights_dataset_100000.csv")

data

,flight_number,airline,airline_code,airline_country,origin_airport,origin_city,origin_country,dest_airport,dest_city,dest_country,...,duration_hours,stops,cabin_class,fare_type,price_usd,seats_available,aircraft_type,departure_time,flight_category,month
0,YK2808,Cyprus Turkish Airlines,YK,Turkey,OVB,Novosibirsk,Russia,FRU,Bishkek,Kyrgyzstan,...,2.50,0,Economy,Flexible,276.07,53,146,23:15,Moyen-courrier (500-2000 km),5
1,UY6784,Cameroon Airlines,UY,Cameroon,TBS,Tbilisi,Georgia,BGW,Baghdad,Iraq,...,1.98,0,Economy,Non-Refundable,175.19,72,M83,12:15,Moyen-courrier (500-2000 km),7
2,W68534,Wizz Air,W6,Hungary,GLA,Glasgow,United Kingdom,GDN,Gdansk,Poland,...,2.83,0,Business,Full-Fare,1100.18,41,320,07:15,Moyen-courrier (500-2000 km),12
3,LH8106,Lufthansa Cargo,LH,Germany,NUE,Nuernberg,Germany,ZRH,Zurich,Switzerland,...,1.10,0,Economy,Semi-Flexible,94.45,91,AR1 100,20:15,Court-courrier (< 500 km),3
4,TR231,Tiger Airways,TR,Singapore,SIN,Singapore,Singapore,CRK,Angeles City,Philippines,...,3.86,0,Economy,Non-Refundable,190.34,60,320,13:45,Long-courrier (2000-6000 km),10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,AA5194,American Airlines,AA,United States,PHL,Philadelphia,United States,CUN,Cancun,Mexico,...,3.90,0,Economy,Non-Refundable,99.05,19,757 332 321 319,15:30,Long-courrier (2000-6000 km),1
99996,X37597,TUIfly,X3,Germany,RHO,Rhodos,Greece,STR,Stuttgart,Germany,...,3.34,0,Business,Non-Refundable,678.11,18,73H,07:15,Long-courrier (2000-6000 km),12
99997,MH9636,Malaysia Airlines,MH,Malaysia,KUL,Kuala Lumpur,Malaysia,DRW,Darwin,Australia,...,5.00,0,Business,Full-Fare,2422.93,16,738,22:15,Long-courrier (2000-6000 km),12
99998,U27219,United Feeder Service,U2,United States,BUD,Budapest,Hungary,LGW,London,United Kingdom,...,2.78,0,Premium Economy,Non-Refundable,784.57,15,319,07:30,Moyen-courrier (500-2000 km),12
99999,AF7993,Air France,AF,France,OUA,Ouagadougou,Burkina Faso,NIM,Niamey,Niger,...,1.13,0,Economy,Non-Refundable,153.77,80,332,13:45,Court-courrier (< 500 km),6

In [8]:
data["flight_category"].unique()

<StringArray>
[   'Moyen-courrier (500-2000 km)',       'Court-courrier (< 500 km)',
    'Long-courrier (2000-6000 km)', 'Ultra long-courrier (> 6000 km)']
Length: 4, dtype: str

In [9]:
#inputs = airline / origin_country/ origin_country / dest_airport / dest_country/ flight_date / departure_time / cabin_class / stops / dest_city / origin_city
#output = price_usd / duration
#deleted = flight_number / airline_code / airline_country / duration_hours / fare_type // aircraft_type / departure_hour /departure_minute / flight_category / seats_available / origin_airport / dest_airport

In [10]:
data.drop(["flight_number","airline_code","airline_country","duration_hours","fare_type","departure_minute","departure_hour","flight_category","seats_available", "dest_airport"], axis= 1, inplace=True)

In [11]:
data

,airline,origin_airport,origin_city,origin_country,dest_city,dest_country,distance_km,flight_date,duration,stops,cabin_class,price_usd,aircraft_type,departure_time,month
0,Cyprus Turkish Airlines,OVB,Novosibirsk,Russia,Bishkek,Kyrgyzstan,1454.04,2026-05-08,2h 29m,0,Economy,276.07,146,23:15,5
1,Cameroon Airlines,TBS,Tbilisi,Georgia,Baghdad,Iraq,936.93,2026-07-16,1h 59m,0,Economy,175.19,M83,12:15,7
2,Wizz Air,GLA,Glasgow,United Kingdom,Gdansk,Poland,1458.59,2026-12-31,2h 49m,0,Business,1100.18,320,07:15,12
3,Lufthansa Cargo,NUE,Nuernberg,Germany,Zurich,Switzerland,293.05,2026-03-01,1h 05m,0,Economy,94.45,AR1 100,20:15,3
4,Tiger Airways,SIN,Singapore,Singapore,Angeles City,Philippines,2381.64,2026-10-21,3h 51m,0,Economy,190.34,320,13:45,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,American Airlines,PHL,Philadelphia,United States,Cancun,Mexico,2367.80,2027-01-13,3h 53m,0,Economy,99.05,757 332 321 319,15:30,1
99996,TUIfly,RHO,Rhodos,Greece,Stuttgart,Germany,2052.24,2026-12-31,3h 20m,0,Business,678.11,73H,07:15,12
99997,Malaysia Airlines,KUL,Kuala Lumpur,Malaysia,Darwin,Australia,3636.11,2026-12-04,4h 59m,0,Business,2422.93,738,22:15,12
99998,United Feeder Service,BUD,Budapest,Hungary,London,United Kingdom,1465.13,2026-12-13,2h 46m,0,Premium Economy,784.57,319,07:30,12
99999,Air France,OUA,Ouagadougou,Burkina Faso,Niamey,Niger,419.76,2026-06-03,1h 07m,0,Economy,153.77,332,13:45,6

In [12]:
data["flight_date"].unique()

<StringArray>
['2026-05-08', '2026-07-16', '2026-12-31', '2026-03-01', '2026-10-21',
 '2026-06-16', '2026-06-06', '2026-03-17', '2026-05-29', '2026-11-06',
 ...
 '2026-06-11', '2026-07-19', '2026-02-11', '2026-08-15', '2026-05-23',
 '2026-10-24', '2026-02-25', '2026-07-13', '2026-08-02', '2026-04-06']
Length: 366, dtype: str