In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/flight_data.csv")

data

,flight_number,airline,airline_code,airline_country,origin_airport,origin_city,origin_country,dest_airport,dest_city,dest_country,...,stops,cabin_class,fare_type,price_usd,seats_available,aircraft_type,departure_time,flight_category,month,season
0,YK2808,Cyprus Turkish Airlines,YK,Turkey,OVB,Novosibirsk,Russia,FRU,Bishkek,Kyrgyzstan,...,0,Economy,Flexible,276.07,53,146,23:15,Moyen-courrier (500-2000 km),5,normal
1,UY6784,Cameroon Airlines,UY,Cameroon,TBS,Tbilisi,Georgia,BGW,Baghdad,Iraq,...,0,Economy,Non-Refundable,175.19,72,M83,12:15,Moyen-courrier (500-2000 km),7,peak
2,W68534,Wizz Air,W6,Hungary,GLA,Glasgow,United Kingdom,GDN,Gdansk,Poland,...,0,Business,Full-Fare,1100.18,41,320,7:15,Moyen-courrier (500-2000 km),12,peak
3,LH8106,Lufthansa Cargo,LH,Germany,NUE,Nuernberg,Germany,ZRH,Zurich,Switzerland,...,0,Economy,Semi-Flexible,94.45,91,AR1 100,20:15,Court-courrier (< 500 km),3,normal
4,TR231,Tiger Airways,TR,Singapore,SIN,Singapore,Singapore,CRK,Angeles City,Philippines,...,0,Economy,Non-Refundable,190.34,60,320,13:45,Long-courrier (2000-6000 km),10,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,AA5194,American Airlines,AA,United States,PHL,Philadelphia,United States,CUN,Cancun,Mexico,...,0,Economy,Non-Refundable,99.05,19,757 332 321 319,15:30,Long-courrier (2000-6000 km),1,normal
99996,X37597,TUIfly,X3,Germany,RHO,Rhodos,Greece,STR,Stuttgart,Germany,...,0,Business,Non-Refundable,678.11,18,73H,7:15,Long-courrier (2000-6000 km),12,peak
99997,MH9636,Malaysia Airlines,MH,Malaysia,KUL,Kuala Lumpur,Malaysia,DRW,Darwin,Australia,...,0,Business,Full-Fare,2422.93,16,738,22:15,Long-courrier (2000-6000 km),12,normal
99998,U27219,United Feeder Service,U2,United States,BUD,Budapest,Hungary,LGW,London,United Kingdom,...,0,Premium Economy,Non-Refundable,784.57,15,319,7:30,Moyen-courrier (500-2000 km),12,normal
99999,AF7993,Air France,AF,France,OUA,Ouagadougou,Burkina Faso,NIM,Niamey,Niger,...,0,Economy,Non-Refundable,153.77,80,332,13:45,Court-courrier (< 500 km),6,peak

In [3]:
#inputs = airline / origin_country/ origin_country / dest_airport / dest_country/ flight_date / departure_time / cabin_class / stops / dest_city / origin_city
#output = price_usd / duration
#deleted = flight_number / airline_code / airline_country / duration_hours / fare_type // aircraft_type / departure_hour /departure_minute / flight_category / seats_available / origin_airport / dest_airport

In [4]:
data.drop(["flight_number","airline_code","airline_country","duration_hours","fare_type","departure_minute","departure_hour","flight_category","seats_available", "dest_airport"], axis= 1, inplace=True)

In [5]:
data

,airline,origin_airport,origin_city,origin_country,dest_city,dest_country,distance_km,flight_date,duration,stops,cabin_class,price_usd,aircraft_type,departure_time,month,season
0,Cyprus Turkish Airlines,OVB,Novosibirsk,Russia,Bishkek,Kyrgyzstan,1454.04,5/8/2025,2h 29m,0,Economy,276.07,146,23:15,5,normal
1,Cameroon Airlines,TBS,Tbilisi,Georgia,Baghdad,Iraq,936.93,7/16/2025,1h 59m,0,Economy,175.19,M83,12:15,7,peak
2,Wizz Air,GLA,Glasgow,United Kingdom,Gdansk,Poland,1458.59,12/31/2025,2h 49m,0,Business,1100.18,320,7:15,12,peak
3,Lufthansa Cargo,NUE,Nuernberg,Germany,Zurich,Switzerland,293.05,3/1/2025,1h 05m,0,Economy,94.45,AR1 100,20:15,3,normal
4,Tiger Airways,SIN,Singapore,Singapore,Angeles City,Philippines,2381.64,10/21/2025,3h 51m,0,Economy,190.34,320,13:45,10,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,American Airlines,PHL,Philadelphia,United States,Cancun,Mexico,2367.80,1/13/2025,3h 53m,0,Economy,99.05,757 332 321 319,15:30,1,normal
99996,TUIfly,RHO,Rhodos,Greece,Stuttgart,Germany,2052.24,12/31/2025,3h 20m,0,Business,678.11,73H,7:15,12,peak
99997,Malaysia Airlines,KUL,Kuala Lumpur,Malaysia,Darwin,Australia,3636.11,12/4/2025,4h 59m,0,Business,2422.93,738,22:15,12,normal
99998,United Feeder Service,BUD,Budapest,Hungary,London,United Kingdom,1465.13,12/13/2025,2h 46m,0,Premium Economy,784.57,319,7:30,12,normal
99999,Air France,OUA,Ouagadougou,Burkina Faso,Niamey,Niger,419.76,6/3/2025,1h 07m,0,Economy,153.77,332,13:45,6,peak

In [6]:
data["flight_date"].unique()

<StringArray>
[  '5/8/2025',  '7/16/2025', '12/31/2025',   '3/1/2025', '10/21/2025',
  '6/16/2025',   '6/6/2025',  '3/17/2025',  '5/29/2025',  '11/6/2025',
 ...
  '6/11/2025',  '7/19/2025',  '2/11/2025',  '8/15/2025',  '5/23/2025',
 '10/24/2025',  '2/25/2025',  '7/13/2025',   '8/2/2025',   '4/6/2025']
Length: 365, dtype: str